#basket-title {
  margin: 10px 15px;
}

#basket-container {
  grid-area: basket-container;
  /*display: grid;*/
  grid-template-columns: 100%;
  margin: 0 15px;
}

.basket-item {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  grid-template-rows: 30px 35px 55px 40px;
  grid-template-areas:
    "item-icon . ."
    "item-icon item-name ."
    "item-icon item-description item-price"
    "item-icon item-menu-bar .";
  background-color: #f2f2f2;
  padding: 10px 0;
  margin-top: 10px;
  border: 1px solid #808080;
}

.basket-item:first-child {
  margin: 0;
}

.item-icon {
  grid-area: item-icon;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  grid-area: item-name;
}

.item-description {
  grid-area: item-description;
  font-size: 1.1em;
  margin-right: 15px;
}

.item-price {
  grid-area: item-price;
}

.item-remove {
  grid-area: item-remove;
}

.item-menu-bar {
  display: grid;
  grid-area: item-menu-bar;
  grid-template-columns: 60px 50px;
  grid-template-rows: 20px;
  grid-template-areas:
  "item-addons item-delete";
  grid-column-gap: 5px;
  color: blue;
}

.item-addons {
  grid-area: item-addons;
  margin-right: 4px;
  border-right: 1px solid #808080;
}

.item-delete {
  grid-area: item-delete;
}

.addons-container {
  grid-area: addons-container;
  display: grid;
  grid-template-columns: 100%;
}

.addon-item-heading {
  display: grid;
  grid-template-columns: 150px 30px 50px;
  grid-template-rows: 30px;
  grid-template-areas:
    "addon-title-heading . addon-price-heading";
  font-weight: 600;
}

.addon-item {
  display: grid;
  grid-template-columns: 150px 30px 50px;
  grid-template-rows: 20px;
  grid-template-areas:
    "addon-title addon-select-btn addon-price"
}


.addon-title-heading {
  grid-area: addon-title-heading;
}

.addon-price-heading {
  grid-area: addon-price-heading;
}

.addon-select-btn {
  grid-area: addon-select-btn;
  display: flex;
  align-items: center;
}

.addon-title {
  grid-area: addon-title;
}

.addon-price {
  grid-area: addon-price;
}

.addon-select-btn button {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  background-color: white;
}


#basket-summary {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  grid-template-rows: 50px;
  grid-template-areas:
    ".basket-total total-value";
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 15px 0 15px 15px;
  border: 1px solid #808080;
  max-height: 100px;
}

#basket-total {
  grid-area: basket-total;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3em;
  margin-right: 25px;
}

#total-value {
  grid-area: total-value;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

#main-container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas:
  "basket-container checkout-container";
}

#checkout-container {
  grid-area: checkout-container;
  display: grid;
  grid-template-rows: 25px 15px 110px 30px;
  grid-template-columns: 130px 50px auto;
  grid-template-areas:
  "basket-checkout-total checkoutout-total-value ."
  ". . ."
  "checkout-btns checkout-btns checkout-btns"
  "checkout-message checkout-message checkout-message";
  background-color: #f2f2f2;
  padding: 45px 30px;
  margin-right: 15px;
  border: 1px solid #808080;
}

#checkout-btns {
  grid-area: checkout-btns;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#paypal-buttons-container {
  width: 275px;
}

#paypal-paypal-btn-container {
  width: 275px;
  display: flex;
}
#paypal-card-btn-container {
  width: 275px;
  display: flex;
}

#basket-checkout-total {
  font-size: 1.3em;
  grid-area: basket-checkout-total;
}

#checkout-total-value {
  font-size: 1.3em;
  grid-area: checkoutout-total-value
}

#checkout-message {
  grid-area: checkout-message;
  max-width: 275px;
  font-size: 0.78em;
}

#checkout-order-summary {
  grid-area: checkout-order-summary;
}

#checkout-order-headings {
  display: grid;
  grid-template-columns: 100px 600px auto;
  grid-template-areas:
  "order-summary-heading order-summary-heading order-summary-heading"
  "order-item-name-heading order-item-addons-heading order-item-price-heading";
}

#order-summary-heading {
  grid-area: order-summary-heading;
  font-size: 2em;
  padding-bottom: 15px;
}

#order-item-name-heading {
  grid-area: order-item-name-heading;
  padding: 10px;
  font-weight: 600;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #2c2e2f;
  color: white;
  border-radius: 5px 0 0 0;
}

#order-item-addons-heading {
  grid-area: order-item-addons-heading;
  padding: 10px;
  font-weight: 600;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #2c2e2f;
  color: white;
}

#orderTotal {
  display: grid;
  grid-template-columns: 100px 600px auto;
  grid-template-areas:
  "order-total-heading order-total-heading order-total-value";
}

#order-item-price-heading {
  grid-area: order-item-price-heading;
  padding: 10px;
  font-weight: 600;
  border: 1px solid black;
  background-color: #2c2e2f;
  color: white;
  border-radius: 0 5px 0 0;
}

#order-items {
  grid-area: order-items;
  grid-template-rows: repeat(auto-fill, 30px);
  background-color: white;
}

#order-total-heading {
  grid-area: order-total-heading;
  padding: 15px;
  background-color: #2c2e2f;
  color: white;
  margin-top: 1px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px 0 0 5px;
  font-weight: 600;
}

#order-total-value {
  grid-area: order-total-value;
  background-color: #2c2e2f;
  color: white;
  padding: 15px 10px;
  margin-top: 1px;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
}


.item-order-summarized {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 100px 600px auto;
  grid-template-areas:
  "order-item-name order-item-addons order-item-price";
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.item-order-summarized:last-child {
border-radius: 0 5px 5px;
}

.order-item-name {
  grid-area: order-item-name;
  border-right: 1px solid black;
  padding: 10px;
}

.order-item-addons {
  grid-area: order-item-addons;
  border-right: 1px solid black;
  padding: 10px;
}

.order-item-price {
  grid-area: order-item-price;
  border-right: 1px solid black;
  padding: 10px;
}
