* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Muli', sans-serif;
}

button:focus, a:focus {
  outline: none;
}

button::-moz-focus-inner, a::-moz-focus-inner {
  border: none;
}

.transparent-btn {
  border: none;
  background-color: transparent;
  color: inherit;
}
