/* default sizes are for phones, i.e. 320px to 415px */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49vw);
  justify-content: center;
}

.img {
  grid-area: img;
}
.title {
  grid-area: title;
}
.price {
  grid-area: price;
}
.button {
  grid-area: button;
}

.item {
  display: grid;
  grid-template-columns: 49vw;
  grid-template-rows: 49vw 20px 30px 40px;
  grid-template-areas:
    "img"
    "title"
    "price"
    "button";
}

.navbar {
  display: grid;
  grid-template-columns: 90vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: "shop-title" "shop-icon";
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    grid-template-columns: 95vw 5vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 32.9vw);
  }
  .item {
    grid-template-columns: 32.9vw;
    grid-template-rows: 32.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    grid-template-columns: 96vw 4vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 24.9vw);
  }
  .item {
    grid-template-columns: 24.9vw;
    grid-template-rows: 24.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .navbar {
    grid-template-columns: 96.5vw 3.5vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 19.9vw);
  }
  .item {
    grid-template-columns: 19.9vw;
    grid-template-rows: 19.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1441px) {
  .navbar {
    grid-template-columns: 97vw 3vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 16.5vw);
  }
  .item {
    grid-template-columns: 16.5vw;
    grid-template-rows: 16.5vw 20px 30px 40px;
  }
}
