/* default sizes are for phones, i.e. 320px to 415px */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49vw);
  justify-content: center;
}

.img {
  grid-area: img;
}
.title {
  grid-area: title;
}
.price {
  grid-area: price;
}
.button {
  grid-area: button;
}

.item {
  display: grid;
  grid-template-columns: 49vw;
  grid-template-rows: 49vw 20px 30px 40px;
  grid-template-areas:
    "img"
    "title"
    "price"
    "button";
}

.navbar {
  display: grid;
  grid-template-columns: 90vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: "shop-title" "shop-icon";
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .navbar {
    grid-template-columns: 95vw 5vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 32.9vw);
  }
  .item {
    grid-template-columns: 32.9vw;
    grid-template-rows: 32.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    grid-template-columns: 96vw 4vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 24.9vw);
  }
  .item {
    grid-template-columns: 24.9vw;
    grid-template-rows: 24.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .navbar {
    grid-template-columns: 96.5vw 3.5vw;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 19.9vw);
  }
  .item {
    grid-template-columns: 19.9vw;
    grid-template-rows: 19.9vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .navbar {
    grid-template-columns: 97% 3%;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 16.5vw);
  }
  .item {
    grid-template-columns: 16.5vw;
    grid-template-rows: 16.5vw 20px 30px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    grid-template-columns: 97.2% 2.8%;
  }
  .container {
    grid-template-columns: repeat(auto-fill, 14.27vw);
  }
  .item {
    grid-template-columns: 14.27vw;
    grid-template-rows: 14.27vw 20px 30px 40px;
  }
}

/* default sizes are for phones, i.e. 320px to 415px */
.basket-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100vw);
  justify-content: center;
}

.item-img {
  grid-area: item-img;
}
.item-title {
  grid-area: item-title;
}
.item-price {
  grid-area: item-price;
}
.item-quantity {
  display: inline-flex;
  grid-area: item-quantity;
}

.item-remove {
  grid-area: item-remove;
}

.basket-item {
  display: grid;
  grid-template-columns: 20vw 60vw 19vw;
  grid-template-rows: 2.5vw 10vw 10vw 2.5vw;
  grid-template-areas:
    ". . ."
    "item-img item-title item-price"
    "item-img item-quantity item-price"
    ". . .";
  background-color: #f6f6f6;
}

#summary-container {
  display: grid;
  grid-template-columns: 70vw 29vw;
  grid-template-rows: 70px 20px 0 20px 40px 140px;
  grid-template-areas:
  "summary-title ."
  "promo-code-text ."
  "promo-drop-dwn ."
  "subtotal-text subtotal-value"
  "total-text total-value"
  "paypal-button-container paypal-button-container";
  margin: 15px 0 15px calc(19px + 8vw - 26px);
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #summary-container {
    grid-template-rows: 70px 30px 0 30px 40px 140px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1399px){
  #summary-container {
    grid-template-rows: 70px 35px 0 35px 40px 140px;
  }
}


#summary-title {
  grid-area: summary-title;
}

#promo-code-text {
  grid-area: promo-code-text;
  display: inline-flex;
}

#promo-drop-dwn {
  grid-area: promo-drop-dwn;
  display: none;
}


#subtotal-text {
  grid-area: subtotal-text;
}

#subtotal-value {
  grid-area: subtotal-value;
  margin: 0 0 0 calc(10px + 1vw);
  width: 19vw;
}

#total-text {
  grid-area: total-text;
  margin: 15px 15px 0 0;
}


#total-value {
  grid-area: total-value;
  margin: 16px 0 0 calc(10px + 1vw);
  width: 19vw;
}

#paypal-button-container {
  grid-area: paypal-button-container;
  max-width: 200px;
  margin-top: 20px;
}


#empty-basket {
  display: grid;
  grid-template-columns: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 400px) and (max-width: 499px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 28px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(12px + 1.5vw);
  }
  #total-value {
    margin: 16px 0 0 calc(12px + 1.5vw);
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 30px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(15px + 1.5vw);
  }
  #total-value {
    margin: 16px 0 0 calc(15px + 1.5vw);
  }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 32px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(15px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(15px + 2vw);
  }
}
@media screen and (min-width: 700px) and (max-width: 799px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 34px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(15px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(15px + 2vw);
  }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 36px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(18px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(18px + 2vw);
  }
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 8vw - 38px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(20px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(20px + 2vw);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 7vw - 30px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(20px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(20px + 2vw);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  #summary-container {
    margin: 15px 0 15px calc(19px + 7vw - 30px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(23px + 2vw);
  }
  #total-value {
    margin: 16px 0 0 calc(23px + 2vw);
  }
}
@media screen and (min-width: 1399px) {
  #summary-container {
    grid-template-rows: 90px 40px 0 40px 55px;
  }
  .basket-container {
    grid-template-columns: repeat(auto-fill, 99vw);
  }
  #summary-container {
    margin: 15px 0 15px calc(19px + 7vw - 34px);
  }
  #subtotal-value {
    margin: 0 0 0 calc(30px + 2.5vw);
  }
  #total-value {
    margin: 16px 0 0 calc(30px + 2.5vw);
  }
}
