body {
  background-color: #fdfdfd;
  font-family: "Lato", sans-serif;
  margin: 0;
}

button {
  padding: 0;
  border-radius: 15px;
  padding: 2.5px 15px;
  border-color: transparent;
}
a {
  color: black;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

#shop-title {
  margin: 15px 0;
  font-size: 2.5em;
}

#shop-icon {
  margin: 15px;
  font-size: 2em;
}


.quantity-text {
  margin: 0 5px 0 0;
}
.quantity-value {
  margin: 0 2.5px;
}

.quantity-btn {
  padding-right: 40px !important;
}

.fa-angle-down,
.drop-dwn {
  width: 20px !important;
}

.drop-dwn-content {
  position: relative;
  top: 20px;
  right: 45px;
  background-color: #f1f1f1;
  min-width: 50px;
  min-height: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media only screen and (min-width: 1399px){
  .basket-container h4, #summary-container h4 {
    font-size: 1.8em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1.5em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1.6vw) 0 !important;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .basket-container h4, #summary-container h4 {
    font-size: 1.5em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1.3em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1.6vw) 0 !important;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .basket-container h4, #summary-container h4 {
    font-size: 1.3em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1.15em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1.6vw) 0 !important;
}
}


@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .basket-container h4, #summary-container h4 {
    font-size: 1.15em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1.6vw) 0 !important;
}
}


@media only screen and (min-width: 701px) and (max-width: 800px) {
  .basket-container h4, #summary-container h4 {
    font-size: 1.15em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1.3vw) 0 !important;
}
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
  .basket-container h4, #summary-container h4 {
    font-size: 1.15em !important;
  }
  .basket-container h5, #summary-container h5 {
    font-size: 1em !important;
  }
.item-title h4,
.item-price h5 {
  margin: calc(4px + 1vw) 0 !important;
}
}

@media screen and (min-width: 415px) and (max-width: 599px){
  /*shop cart items*/
  .item-title h4,
  .item-price h5 {
    margin: calc(4px + 0.7vw) 0 !important;
  }
}

@media screen and (min-width: 320px) {
  #shop-title {
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
  #shop-icon {
    font-size: 1.5em;
    margin: 15px 0;
  }

  .title h4,
  .price h5 {
    display: inline-flex;
    flex: 1 1 auto;
  }
  .title h4 {
    margin: 0 10px;
  }
  .price h5 {
    margin: 5px 10px;
  }

  .button button {
    margin: 0 10px;
  }

  /*shop cart items*/
  .item-title h4,
  .item-price h5 {
    margin: 4px 0;
  }

  .item-quantity h5 {
    font-size: 0.9em;
  }

  .item-quantity button {
    padding: 0;
    background-color: transparent;
    display: flex;
  }

  #summary-container h4, #summary-container h5 {
    margin: 0;
  }

  #summary-container * {
    display: inline-flex;
  }
}
